<div class="container-fluid p-5">
    <div class="col-12 d-flex justify-content-center">
        <embed src="../../assets/images/logo_math_ul_h_en_rgb_uniform_background.jpg" style="width:50%; height:auto;"
            alt="">
    </div>
    <div class="card" style="width: 18rem;" *ngFor="let item of this.items">
        <img src="https://picsum.photos/150/100" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>